/* Pengaturan Dasar */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header & Tombol */
.hero {
    background-color: #007bff;
    color: white;
    padding: 80px 20px;
    text-align: center;
}
.btn-janji {
    display: inline-block;
    background: #ffc107;
    color: black;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
}

/* Tata Letak Layanan */
.container {
    max-width: 1000px;
    margin: auto;
    padding: 40px 20px;
}

.section-tittle {
    text-align: center;
    color: #007bff;
}

.layanan-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    width: 250px;
    margin-bottom: 20px;
    text-align: center;
}

/* Testimoni */
.testimoni {
    background: #e2e2e2;
    padding: 40px 20 px;
    color: rgb(121, 111, 111);
    text-align: center;
}

.testi-item {
    background: rgb(214, 209, 175);
    padding: 15px;
    border-left: 5px solid #28a745;
    margin-top: 10px;
}
                                                                                                    
.testi-name{
    display: block;
    font-weight: bold;
    color: #121312;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
    text-align: center;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
  }
  
  ul li {
    float: left;
    color: white;
  }                                                                         
  
  ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul li a:hover {
    background-color: #111111;
  }
.Tentangklinikkami {
    text-align: center;
}
.sejarah {
    text-align: center;

}
.ucapanselamat {
    text-align: center;
    
}
.sejarahkami{
    text-align: center;
}
.layanan{
    text-align: center;
}
footer{
    padding: 10px;
    margin-top: auto;
}
